<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
    {{>nav}}
    
    {{!-- main section start --}}
        {{>main}}
    {{!-- main section end --}}

    {{!-- about section start --}}
        {{>about}}
    {{!-- about section end --}}

    {{!-- service section start --}}
        {{>service}}
    {{!-- service section end --}}

    <section style="padding-bottom: 2rem;">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15216.68475994982!2d78.36379438149828!3d17.547034406190054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb8d84270bf5a3%3A0x3d6e3b59dfa27b9!2sHari%20hara%20habitat!5e0!3m2!1sen!2sin!4v1610119908468!5m2!1sen!2sin"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </section>

    {{!-- contact section start --}}
        {{>contact}}
    {{!-- contact section end --}}


    {{>jqueryLinks}}
    {{>footer}}
</body>
</html>