<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About US</h1>
            <p class="text-center sub-heading">Full stack developer</p>
            <div class="row">
                {{!-- left side --}}
                    <div class="col-md-6 col-12 main-text">
                    <figure>
                        <img src="images/team.jpg" alt="main_image" width="500px" height="auto">
                    </figure>
                </div>
                {{!-- right side --}}
                <div class="col-md-6 col-12 main-text d-flex justify-content-right align-items-end flex-column">
                    <h1>NodeJS is a Popular backend scripting language </h1>
                    <p>✨ Created using BS4, NodeJS, Express, MongoDB, Mongoose ✨</p>
                    <button class="btn-style btn-primary">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>