 <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    {{!-- left side --}}
                    <div class="col-md-6 col-12 main-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                        <h1>Welcome to <span class="bold-style">MERN</span> Stack Course</h1>
                        <h1> This is pure NodeJS</h1>
                        <p>✨ Created using BS4, NodeJS, Express, MongoDB, Mongoose ✨</p>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 main-text order-md-1 order-0">
                        <figure>
                            <img src="images/mern.jpg" alt="main_image" width="600px" >
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>